@import "../../theme.scss";

.category_card_container{
    border: 1px solid rgba(0,0,0,0.3);
    width: 180px;
    height: 140px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p{
        padding: 0;
        margin:0;
        padding-top: 10px;
        font-weight: 500;
    }
}
.product_card_container{
    width: 270px;
    .card_img_container{
        height: 250px;
        background-color: $lightGray;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 75%;
            height: 76%;
            object-fit: cover;
        }
    }
    .card_content{
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        .card_detail{
            h6{
                font-weight: 600;
            }
            p{
                color: $primaryColor;
                font-weight: 600;
                padding: 0;
                margin: 0;
            }
        }
    }
}