@import "../../theme.scss";

.product_quantity_counter {
    width        : 150px;
    height       : 40px;
    border       : $containerBorder;
    border-radius: 6px;

    .counter_value {
        font-size  : 22px;
        font-weight: 500;
    }

    .update_counter_button {
        display         : block;
        width           : 40px;
        height          : 100%;
        background-color: $pageBackground;
        display         : flex;
        align-items     : center;
        justify-content : center;
        transition      : all 0.3s ease;

        &:first-child {
            border-top-left-radius   : 6px;
            border-bottom-left-radius: 6px;
            border-right             : $containerBorder;
        }

        &:last-child {
            border-top-right-radius   : 6px;
            border-bottom-right-radius: 6px;
            border-left               : $containerBorder;

        }

        &:hover {
            background-color: $primaryColor;
            color           : $pageBackground;
            cursor          : pointer;
        }

    }
}

.product_quantity_counter_small {
    width : 100px;
    height: 30px;

    .counter_value {
        font-size: 16px;
    }

    .update_counter_button {
        width: 30px;
    }
}
