@import "../../theme.scss";
.nav_link_item {
  font-size: 15px !important;
  font-weight: 600 !important;
  padding: 2px !important;
  border-bottom: 1px solid transparent !important;
  display: inline-block !important;
  &:hover {
    border-bottom: 1px solid $dark !important;
  }
}
