@import "../../theme.scss";

.img_container {
  height: 500px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.swiper_button_container {
    display        : flex;
    justify-content: end;
    position       : relative;
    top            : -60px;
}

.nav_btn {
    border: 1px solid transparent;
    width           : 45px;
    height          : 45px;
    margin-right    : 10px;
    cursor          : pointer;
    background-color: $lightGray;
    border-radius   : 50%;
}
