@import '../../theme.scss';

.input_container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $darkGray;
    width: 100%;
    padding: 10px;
    padding-bottom: 5px;
    margin-bottom: 18px;
  
    > span {
      width: 40px;
      font-size: 25px;
      text-align: center;
    }
  
    .input_field {
      flex: 1;
  
      input {
        border: none;
        outline: none;
        width: 97%;
      }
    }
  }
  
  .input_err {
    color: $primaryColor;
  }
  